<div class="new-project-overlay-container">
    <div class="new-project-overlay-inner">
        <h2 class="mtop-0">New Project</h2>
        <form id="new-project-form">
            <div class="form-row">
                <field-text label="Name" id="new-project-name" name="new-project-name"></field-text>
            </div>
            <div class="form-row">
                <button id="new-project-save" class="btn">Create</button>
                <a class="btn-link" id="new-project-cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>