@import "../../global-styles/fields.scss";

:host {
    @include fieldBase;

    .field-select-container {
        @include fieldContainer;

        select {
            @include field;
            appearance: none;
            padding: 1.238em 0.7em 0.3em;
            min-height: 2.725em;
        }

        &[label-up="true"].w-auto {
            select {
                background-position: calc(100% - 0.25em) 72%;
            }

            .field-select-arrow {
                transform: translateY(-12%);
                right: -0.2em;
            }
        }

        .field-select-arrow {
            position: absolute;
            right: 0.125em;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.25em;
            pointer-events: none;
            color: theme-color("background");
        }

        &[theme="inverse"] {
            .field-select-arrow {
                color: theme-color("foreground");
            }
        }

        @include inputLabel;
        @include iconSlot;
        @include helptext;
        @include formControl;
    }
}
