@import "../../global-styles/fields.scss";

$selectArrow: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="270" height="240"><path fill="dimGray" d="M5,5H265L135,230"/></svg>');

:host {
    @include fieldBase;

    .field-select-container {
        @include fieldContainer;

        select {
            @include field;
            appearance: none;
            background-image: $selectArrow;
            background-size: 0.6em 0.45em;
            background-repeat: no-repeat;
            background-position: calc(100% - 0.25em) 55%;
            padding: 1.238em 0.7em 0.3em;
            min-height: 2.725em;
        }

        &[label-up="true"].w-auto {
            select {
                background-position: calc(100% - 0.25em) 72%;
            }
        }

        @include inputLabel;
        @include iconSlot;
        @include helptext;
        @include formControl;
    }
}
