@import "../../global-styles/fields.scss";

:host {
    @include fieldBase;

    .field-date-container {
        @include fieldContainer;
        position: relative;

        input {
            @include field;
            opacity: 0;
            -webkit-text-fill-color: transparent;
        }

        &[focused="true"],
        &[empty="false"] {
            input {
                opacity: 1;
            }
        }

        &[empty="false"] {
            input {
                -webkit-text-fill-color: theme-color("background");
            }
        }

        @include inputLabel;
        @include iconSlot;
        @include helptext;
        @include formControl;

        .field-date-overlay {
            width: auto;
            display: inline-flex;
            flex-direction: column;
            min-width: unset;

            calendar-month {
                font-size: 0.25em;
            }

            .calendar-header {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0.5em 0;

                icon-element {
                    font-size: 1.25em;
                    cursor: pointer;
                    padding: 0.125em;
                    border-radius: 50%;
                    margin: 0 0.25em;
                    transition: background-color 0.2s, color 0.2s;

                    &:hover {
                        background-color: theme-color("accent");
                        color: theme-color("accent-offset");
                    }
                }

                .calendar-header-center {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .calendar-header-month {
                    font-weight: bold;
                    margin: 0 0.25em;
                }

                .calendar-header-year {
                    font-weight: lighter;
                    opacity: 0.75;
                    margin: 0 0.25em;
                }
            }
        }

        .field-date-input {
            color: theme-color("background");
            min-height: $inputHeight;
            width: 100%;
            padding: $inputPadding;
            line-height: 100%;
        }

        .field-date-drop-down {
            min-height: $inputHeight;
        }
    }
}
