<div class="component-settings-container">
    <field-text name="tag" label="Tag"></field-text>
    <field-textarea name="template" label="Template"></field-textarea>

    <h3 class="mbottom-0">Properties</h3>
    <h3 class="mbottom-0">Elements</h3>
    <h3 class="mbottom-0">Methods</h3>
    <h3 class="mbottom-0">Slots</h3>

    <h3 class="mbottom-0">onConnected(host)</h3>
    <field-textarea name="onDisconnected" label="Function body"></field-textarea>

    <h3 class="mbottom-0">onDisconnected(host)</h3>
    <field-textarea name="onDisconnected" label="Function body"></field-textarea>
</div>