@import "../../global-styles/fields.scss";

:host {
    @include fieldBase;

    .field-number-container {
        @include fieldContainer;

        input {
            @include field;

            /* Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            -moz-appearance: textfield;
        }

        @include inputLabel;
        @include iconSlot;
        @include helptext;
        @include formControl;
    }
}
