@import "../../global-styles/fields.scss";

:host {
    @include fieldBase;
    vertical-align: top;

    .field-textarea-container {
        @include fieldContainer;

        textarea {
            @include field;
            resize: none;
            height: $inputHeight;
        }

        &[resize="auto"] textarea,
        &[resize="none"] textarea {
            resize: none;
        }

        &[resize="horizontal"] textarea {
            resize: horizontal;
        }

        &[resize="vertical"] textarea {
            resize: vertical;
        }

        &[resize="both"] textarea {
            resize: both;
        }

        &.w-100 {
            width: 100%;
        }

        @include inputLabel;
        @include iconSlot;
        @include helptext;
        @include formControl;

        label {
            top: 0.6em;
        }

        .icon-container {
            align-self: flex-start;
            top: 0.62em;
        }
    }
}
