@import "../../global-styles/fields.scss";

:host {
    @include fieldBase;

    .field-date-container {
        @include fieldContainer;
        position: relative;

        input {
            @include field;
            opacity: 0;
            -webkit-text-fill-color: transparent;
        }

        &[focused="true"],
        &[empty="false"] {
            input {
                opacity: 1;
            }
        }

        @include inputLabel;
        @include iconSlot;
        @include helptext;
        @include formControl;

        .field-date-overlay {
            width: auto;
            display: inline-flex;
            flex-direction: column;
            min-width: unset;

            calendar-month {
                font-size: 0.25em;
            }
        }

        .field-date-input {
            color: theme-color("background");
            min-height: $inputHeight;
            width: 100%;
            padding: $inputPadding;
            line-height: 100%;
        }

        .field-date-drop-down {
            min-height: $inputHeight;
        }

        &[theme="inverse"] {
            .field-input-label {
                .field-date-input {
                    color: theme-color("foreground");
                }
            }
        }
    }
}
