@import "../../global-styles/fields.scss";

:host {
    @include fieldBase;

    .field-time-container {
        @include fieldContainer;

        .field-time-contents {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: theme-color("foreground");
            position: relative;
            width: 100%;
            border-radius: $borderRadius;
            transition: background-color 0.2s;

            input {
                @include field;
                width: 100%;
                max-width: 2em;
                padding-left: 0;
                padding-right: 0;
                background-color: transparent;
                box-shadow: 0 0 0 transparent;
                text-align: center;
                height: $inputHeight;

                @mixin inputsPlaceholder {
                    color: theme-color("background");
                    opacity: 0.25;
                    font-size: 80%;
                    text-align: center;
                    position: relative;
                    top: -0.05em;
                }

                &::-webkit-input-placeholder {
                    @include inputsPlaceholder;
                }

                &:-webkit-input-placeholder {
                    @include inputsPlaceholder;
                }

                &:-ms-input-placeholder {
                    @include inputsPlaceholder;
                }

                &::placeholder {
                    @include inputsPlaceholder;
                }
            }

            .field-time-input-container {
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                opacity: 0;
                transition: opacity 0.2s;

                &.hide-input {
                    display: none;
                }

                &.field-time-minute-container,
                &.field-time-second-container {
                    &:after {
                        content: ":";
                        color: theme-color("background");
                        opacity: 0.5;
                        padding-top: 1.4em;
                        font-size: 80%;
                        font-weight: bold;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -0.1em;
                        pointer-events: none;
                    }

                    input {
                        margin-left: 0.125em;
                    }
                }

                &.field-time-hour-container {
                    margin-left: 0.25em;
                }
            }

            .field-time-inputs {
                display: flex;
                align-items: center;
            }

            &.hide-seconds .field-time-second-container,
            &.hide-meridien .field-time-meridien-container {
                display: none;
            }
        }

        &[theme="inverse"] {
            .field-time-contents {
                background-color: theme-color("background");

                input {
                    &::-webkit-input-placeholder {
                        color: theme-color("foreground");
                    }

                    &:-webkit-input-placeholder {
                        color: theme-color("foreground");
                    }

                    &:-ms-input-placeholder {
                        color: theme-color("foreground");
                    }

                    &::placeholder {
                        color: theme-color("foreground");
                    }
                }

                .field-time-input-container {
                    &.field-time-minute-container,
                    &.field-time-second-container {
                        &:after {
                            color: theme-color("foreground");
                        }
                    }
                }
            }
        }

        @include inputLabel;

        &[label-up="true"] {
            .field-time-input-container {
                opacity: 1;
            }
        }
    }

    @include helptext;
    @include iconSlot;
    @include formControl;
}
