<div class="field-time-container field-element-container">
    <label class="field-time-label"></label>
    <input type="hidden" class="field-time-input-value">
    <div class="field-time-inputs">
        <div class="field-time-input field-time-hour-input" contenteditable="true"></div>
        <span class="field-time-input-divider field-time-minutes-divider">:</span>
        <div class="field-time-input field-time-minutes-input" contenteditable="true"></div>
        <span class="field-time-input-divider field-time-seconds-divider">:</span>
        <div class="field-time-input field-time-seconds-input" contenteditable="true"></div>
        <field-select options='AM,PM' class="field-time-meridien-input w-auto"></field-select>
    </div>
    <span class="icon-container"></span>
    <span class="field-help-text hide-empty"></span>
</div>