@import "../../global-styles/fields.scss";

:host {
    @include fieldBase;

    .field-text-container {
        @include fieldContainer;

        input {
            @include field;
            opacity: 0;
            -webkit-text-fill-color: transparent;
        }

        &[focused="true"],
        &[empty="false"] {
            input {
                opacity: 1;
            }
        }

        &[empty="false"] {
            input {
                -webkit-text-fill-color: theme-color("background");
            }
        }

        @include inputLabel;
        @include iconSlot;
        @include helptext;
        @include formControl;
    }
}
